# Ignorar el archivo .env
.env

# Ignorar carpetas __pycache__ y archivos .pyc
__pycache__/
*.pyc

# Ignorar todo en la carpeta server que no sea necesario
/server/__pycache__/
/server/*.pyc
/server/*.pyo
/server/*.log
/server/.env
/server/venv
/.vscode/settings.json
files/*
!files/.gitkeep
uploads/*
!uploads/.gitkeep
/server/tests/reports
/server/**/.coverage

.pytest_cache/

migrations/

/server/pruebas
/server/uploads/cvs/**
/server/uploads/fotos/**

/server/ml/data
/server/ml/trained_models